<ion-header>
  <ion-toolbar >  
    <ion-button class="headerSpace" color="primary" (click)="navigateToGames()"> <ion-icon name="arrow-back"></ion-icon>&nbsp;&nbsp; Back</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title class="headerTitle">Space Empire 4X</ion-title>
  <section class="menuButton">
    <ion-button style="width: 4rem;" size="small" color="secondary" (click)="goToOwnerShips()">SHIPS</ion-button>
    <ion-button style="width: 4rem;" size="small" color="success" (click)="goToOwnerTechs()">TECHS</ion-button>
    <ion-button style="width: 4rem;" size="small" color="warning">RESET</ion-button>
  </section>

  <form  [formGroup]="ionicForm" (ngSubmit)="cpForm()" novalidate>
    <ion-grid>
      <ion-row>
        <ion-col class="carryOver">
        <strong>Carry Over (max 30)</strong>
        <ion-input (ionFocus)="this.carryValue = ''" type="number" max={30} min={0} formControlName="carry" [(ngModel)]="carryValue" (ionChange)="updateCarry(carryValue)"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row class="carryOver">
        <ion-col>
          <strong>+ Colony CPs</strong>
          <ion-input (ionFocus)="this.colonyValue = ''" style="text-align: center;" type="number" min={0} formControlName="colony" [(ngModel)]="colonyValue" (ionChange)="updateColony(colonyValue)"></ion-input>
          
        </ion-col>
        <ion-col>
          <strong>+ Mineral CPs</strong>
      <ion-input (ionFocus)="this.mineralValue = ''" style="text-align: center;" type="number" min={0} formControlName="mineral" [(ngModel)]="mineralValue" (ionChange)="updateMineral(mineralValue)"></ion-input>
      
        </ion-col>
        <ion-col>
          <strong>+ MS Pipe CPs</strong>
      <ion-input (ionFocus)="this.pipeValue = ''" style="text-align: center;" type="number" min={0} formControlName="pipe" [(ngModel)]="pipeValue" (ionChange)="updatePipe(pipeValue)"></ion-input>
   
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div style="text-align: center;background-color: lightgrey;"><strong style="text-align: center;">Total {{total}}</strong></div>
        </ion-col>
      </ion-row>
      <ion-row class="carryOver">
        <ion-col>
          <strong style="color: red;">- Manteninance</strong>
          <ion-input (ionFocus)="this.manteninanceValue = ''"  style="text-align: center;color: red;" type="number" min={0} formControlName="manteninance" [(ngModel)]="manteninanceValue" (ionChange)="updateManteninance(manteninanceValue)"></ion-input>       
        </ion-col>
        <ion-col>
          <strong style="color: red;">- Turn order bid</strong>
          <ion-input (ionFocus)="this.turnOrderBidValue = ''" style="text-align: center;color: red;" type="number" min={0} formControlName="turnOrderBid" [(ngModel)]="turnOrderBidValue" (ionChange)="updateTurnOrderBid(turnOrderBidValue)"></ion-input>     
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div style="text-align: center;background-color: lightgrey;"><strong style="text-align: center;">SubTotal {{subTotal}}</strong></div>
        </ion-col>
      </ion-row>
      <ion-row class="carryOver">
        <ion-col>
          <ion-button size="small" (click)="goToBuyShips(subTotal)"><ion-icon name="airplane"></ion-icon>&nbsp;&nbsp;Buy Ships</ion-button>
        </ion-col>
        <ion-col>
          <ion-button size="small" (click)="goToBuyTech(subTotal)"><ion-icon name="construct"></ion-icon>&nbsp;&nbsp;Buy Techs</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="carryOver" style="color: red;">
        <strong>- CP spent on upgrades</strong>
        <ion-input  (ionFocus)="this.updateValue = ''" type="number" min={0} formControlName="update" [(ngModel)]="updateValue" (ionChange)="updateUpdate(updateValue)"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row style="text-align: center;background-color: lightgrey;"> 
        <ion-col>
          <div ><strong style="text-align: center;">Remaining CP {{remaining}}</strong></div>
        </ion-col>
        <ion-col>
          <ion-button size="small" type="submit" color="secondary"><ion-icon name="save"></ion-icon>&nbsp;&nbsp;SAVE</ion-button>
         </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
