<ion-header>
  <ion-toolbar >  
    <ion-button class="headerSpace" color="primary" (click)="navigateToSapce()"> <ion-icon name="arrow-back"></ion-icon>&nbsp;&nbsp; Back</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p style="text-align: center;">CP'S {{cps}}</p>
  <p style="text-align: center;">Click in the class for more details</p>
  <ion-list>
    <!--<ion-item *ngFor="let ship of ships |async">-->
      <ion-item *ngFor="let ship of shipFake">  
          <ion-label (click)="presentModal(ship)">
            <h2>{{ship.Type}}</h2>
            <h3>{{ship.Class}}</h3>
          </ion-label>
          <ion-label>
            <h2>Cost</h2>
            <h3>{{ship.CP}}</h3>
          </ion-label>
          <ion-label>
            <h2>Attack</h2>
            <h3>{{ship.Attack_Strength}}</h3>
          </ion-label>
          <ion-label>
            <h2>Defense</h2>
            <h3>{{ship.Defense_Strength}}</h3>
          </ion-label>
          <ion-label>
            <h2>Hull Size</h2>
            <h3>{{ship.Hull_Size}}</h3>
            <ion-label>
              <ion-button class="headerSpace" color="success" (click)="buy(ship)"><ion-icon name="cash"></ion-icon></ion-button>
            </ion-label> 
          </ion-label>                       
    </ion-item>
  </ion-list>

</ion-content>
