.headerSpace{
    display: contents;
}

.soldiers{
    display: flex;
    justify-content: center;
    margin-left: 30%;
    width: 10rem;
    text-align: center;

}

.soldierImg{
    display: flex;
    justify-content: center;
    margin-top: 3rem;

}

.medal{
    display: flex;
    justify-content: center;
    margin-left: 30%;
    width: 10rem;
    text-align: center;

}

.medalImg{
    display: flex;
    justify-content: center;
    margin-top: 3rem;

}

.work{
    display: flex;
    justify-content: center;
    margin-left: 30%;
    width: 10rem;
    text-align: center;

}

.workImg{
    display: flex;
    justify-content: center;
    margin-top: 3rem;

}

.star{
    display: flex;
    justify-content: center;
    margin-left: 30%;
    width: 10rem;
    text-align: center;

}

.starImg{
    display: flex;
    justify-content: center;
    margin-top: 3rem;

}