.headerSpace{
    display: contents;
}

.headerTitle{
    text-align: center;
    margin: 2rem;
}
ion-menu-button {
    color: var(--ion-color-primary);
}

.caja{
    text-align: center;
}
.tarjeta{
    width: 100%;

}